h1 { 
 
  text-align: center;
  font-size: 14vw;  
  letter-spacing: 3px;
  line-height: 1;
}



body { 
  background-color: #f2efe4;
  color:  #382d1f;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 4vw;
  text-align: left;
  line-height: 3vw;
  padding-left: 20px; 
  padding-right: 20px; 
  line-height: 2;
 
}

.leaf { 
  text-align: center;
  font-size: 70vw;
  padding-left: 1px; 
  padding-right: 1px; 
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 220px;
  margin-bottom: 250px;
  }

a {
  color: white; 
  text-decoration: none;

}
.next {
  text-align: center; 
  background:#915433;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 4px; 
  border-radius: 9px; 
  
}